{% extends 'base.html' %}

{% block content %}
    <div>
    <h2>About</h2>
    <h5>PRODUCE MORE SALE MORE</h5>
      <P>
        We Bridge The Gap Between the Mkulima(farmer) In The Farm And The Trader In The Market: Our Mission Is To Make
        Sure That Our Local Products Get The Market That Our Farmers Need. We Believe That This Can Be Achieved
        If We Work Closely With Our Local Farmers.Our Team Is Dedicated To EnsureThat Our Farmers Meet Both Local And International Standards By Offering 
        Them Relentless Farming Traning, So As To Leverage The Use Of Digital Agricultural Use To Increase Quality Farm Yields.......!<br><br>
      <hr>
        <strong>We Encourage Every Farmer To Join Us Today, To Enjoy The Benefits Of The Ready Market That We Got For YOU!<strong>
      </P>
    </div>
    <hr>
    <div class="img-jpg">
      <img src="/static/istockphoto-855789576-612x612.jpg" width="600px;">
      <img src="/static/img.jpg" width="600px;">
    </div>
{% endblock %}